.avatarImg {
  padding: 4px;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  :global(.ant-avatar) {
    border-radius: 20px !important;
    overflow: hidden;
  }
  cursor: pointer;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
