.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 90px;
  margin-top: 20px;

  .leftSection {
    flex-grow: 2;
    flex-basis: 0;
  }
  .centerSection {
    flex-grow: 5;
    flex-basis: 0;
    text-align: center;
    padding: 0 100px;
  }
  .rightSection {
    flex-grow: 1;
    flex-basis: 0;
  }
}
